*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: black;
}
header nav{
    padding-top: 40px auto;
    padding-left: 40px auto;
}
header nav ul li{
    float: left;
    padding-top: 15px;
    padding-left: 249px;
    margin-right: -274px;
}
header nav ul li a{
    padding-left: 50px;
    font-size: 18px;
    color: white;
}
.logohead{
    width: 70px;
    height: 70px;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 12px;
    left: 100px;
}
.social{
    width: 50px;
    height:100px;
    position: fixed;
    top: 212px;
    right: 0;
}
 .fb, .ins{
    width: 50px;
    height: 50px;
}
.fb{
  background-image: url(../img/fb.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.ins{
  background-image: url(../img/inst.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.fb a, .ins a{
display: block;
width: 100%;
height: 50px;
}
.box1{
    padding-left: 0;
    float: left;
    
}

.samaia{
    width: 300px;
    margin-top: 58px;
    margin-left: 138px;
    float: left;
    margin-bottom: 50px;
    position: relative;
}
.foursound{
    width: 250px;
    height: 64px;
    margin:0 auto;
    background-image: url(../img/sound.png);
    background-size: 25%;
    background-repeat: repeat-x;
    clear: both;
}

h3{
    padding-top: 50px;
    padding-left: 138px;
    font-size: 24px;
}
h3.final{
    
    padding: 90px 630px 90px;
    
}
.secondtitle{
    clear: both;
    padding-left: 138px;
    font-size: 24px;
    padding-top: 22px;
}
.go{
    margin: 0;
    padding-left: 0;

}
.go::after{
    content: "?";
}

.frame{
    width: 100%;
    height: 270px;
    border: 1px solid; color: black;
}


.samaia.track{
    padding-top: 24px;
    padding-left: 12px;
    font-size: 18px;
    
}
.samaia.artist{
   padding-top: 10px;
   padding-left: 12px;
   font-size: 14px;
}
.like{
    width: 65px;
    height: 65px;
    background-image: url(../img/like.png);
    background-repeat:repeat;
    background-size: 100%;
    position: absolute;
    top: -4px;
    right: -1px;
}
.img{
    width: 100px;
    height: 100px;
}
.sound{
    width: 100%;
    height: 65px;
    background-image: url(../img/sound.png);
    background-repeat:repeat-x;
    background-size: 25%;
    position: absolute;
    top: 70px;
}
footer{
    width: 100%;
    clear: both;
    padding: 20px;
    background-color: #000000;
}
footer nav{
    padding-top: 40px auto;
    padding-left: 40px auto;
}
footer nav ul li{
    padding-left: 200px;
}
footer nav ul li a{
    padding-left: 40%;
    text-align: center;
    color: white;
    line-height: 30px;
}
.logofooter{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-image: url(../img/music-note.png);
    background-repeat: no-repeat;
    background-size: 100%;    
}    
.upleba{
    padding: 30px;
    padding-left: 0 auto;
    text-align: center;
    color: white;
}

